#overlay {
	padding-top: 20px;
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,110,128, 0.9);
    z-index: 11;
	text-align: center;
}

#close {
	width: 40px;
	height: 40px;
}

#cls {text-align: right; padding-right: 40px; margin-bottom: 0px;}

#icon{width: 400px; height: 200px;
margin-top: 50px;}

.inp{
	border-radius: 10px ;
	height: 40px;
	width: 450px;
	text-align: center;
	background-color: transparent;
	border: solid white;
	color: white;
	font-size: 15px;
	margin-top: 30px;
}

#app{width: 200px; height: 60px; padding-top: 30px;
margin-top: 30px;
}

#snd {
	border-radius: 20px ;
	height: 40px;
	background-color: white;
	border: solid white;
	width: 110px;
	color: darkturquoise;
	font-size: 15px;
}

#joinlist {
	border-radius: 25px;
	height: 50px;
	background-color: salmon;
	border: solid salmon;
	width: 240px;
	color: white;
	font-size: 15px;
	margin-top: 30px;
}

#overlay h1{
	color: white;
	font-size: 20px;
	margin-top: 30px;
	}

#overlay h1 {
    overflow: hidden;
    text-align: center;
}

#overlay h1:before,
#overlay h1:after {
    background-color: white;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 300px;
}
#overlay h1:before {
    right: 0.5em;
    margin-left: -50%;
}
#overlay h1:after {
    left: 0.5em;
    margin-right: -50%;
}